.root {
    -fx-background-color: black;
}

.ui-border {
    -fx-background-color: #303030;
    -fx-control-inner-background: #303030;
    -fx-border-color: #404050;
    -fx-border-width: 4px;

    -fx-text-fill: #eeeeee;
}

.ui-border .label {
    -fx-text-fill: #eeeeee;
}

.ui-border .scroll-bar:vertical {
    -fx-pref-width: 1;
    -fx-opacity: 0;
}
.ui-border .scroll-bar:horizontal {
    -fx-pref-height: 1;
    -fx-opacity: 0;
}

.inventory-grid {
    -fx-background-color: #404050;
}

.item-view {
    -fx-background-color: #2b2b2b;
}
.item-view .label {
    -fx-font-size: 14px;
}
.item-view .pane {
    -fx-background-color: green;
}